* {
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  margin-left: 200px;
}

.Topbar {
  display: flex;
  height: 50px;
}

.Topbar * {
  margin-top: 5px;
  margin-right: 5px;
}

.Topbar input {
  margin-left: 5px;
  flex: 1;
  font-size: 20px;
}

.Topbar select {
  flex: 0.3;
  font-size: 20px;
}

.Topbar button {
  flex: 0.3;
  font-size: 20px;
}

.Sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
  background-color: lightgray;
}

.Sidebar a {
  padding: 3px 8px 3px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  color:black;
}

.Sidebar a:hover {
  color: grey
}

.Sidebar .Tag {
  display: inline-flex;
  width: 100%;
}

.Sidebar .Cross {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
}

.Sidebar .NewEdit {
  margin-top: 15px;
  display: inline-flex;
}

.Sidebar .Newtag {
  width: 40%;
}

.Sidebar .Edittag {
  width: 40%;
}

.Sidebar .NewtagInput {
  height: 25px;
  width: 80%;
  font-size: 25px;

}

.Tasks {
  padding-left: 0px;
}

.Tasks h2 {
  font-size: 33px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}

.Task {
  margin: 7px 7px 7px 7px;
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
}

.Task-flagged {
  border: 3px solid red;
}

.Task-done {
  border: 3px solid green;
}

.Task .Header {
  display: flex;
}

.Task .Tags {
  display: inline;
  color: grey;
  margin-left: 20px;
}

.Task .Title {
  text-align: left;
}

.Task h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

.Task h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  color: gray;
}

.Task p {
  text-align: left;
  font-size: 20px;
}

.Task .Buttons {
  text-align: right;
}

.Task button {
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  width: 80px;
  height: 40px;
}

.NewTask, .EditTask {
  margin-top: 20px;
  width: 60%;
  margin-inline: auto;
}

.NewTask *, .EditTask * {
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
}

.NewTask .Description, .EditTask .Description{
  height: 100px;
}