:root{
  --color1: #264653;
  --color2: #2A9D8F;
  --color3: #E9C46A;
  --color4: #F4A261;
  --color5: #E76F51;
}

.App {
  color: var(--color1);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  margin-left: 200px;
}

.Main button {
  border-radius: 5px;
  font-size: 20px;
  padding-block: 5px;
  padding-inline: 8px;
}

.Main button:hover {
  background-color: skyblue;
}

.Main button:active:hover {
  background-color: steelblue;
}

.Topbar {
  display: flex;
  height: 50px;
}

.Topbar * {
  margin-top: 5px;
  margin-right: 5px;
}

.Topbar input {
  margin-left: 5px;
  flex: 1;
  font-size: 20px;
  border: 5px;
  border: 1px solid black;
}

.Topbar select {
  flex: 0.3;
  font-size: 20px;
  border-radius: 5px;
}

.Topbar button {
  flex: 0.3;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.Topbar button:hover {
  background-color: skyblue;
}

.Sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  z-index: 1;
  background-color: lightgray;
}

.Sidebar li {
  padding: 3px 8px 3px 16px;
  text-decoration: none;
  font-size: 23px;
  display: block;
  color:black;
  cursor: pointer;
}

.Sidebar .Tag:active:hover {
  background-color: steelblue;
}

.Sidebar .Tag:hover {
  background-color: lightskyblue;
}

.Sidebar .Tag {
  display: inline-flex;
  padding-inline: 4px;
  width: 100%;
  cursor: pointer;
}

.Sidebar .Tag-editing {
  display: inline-flex;
  padding-inline: 4px;
  width: 100%;
}

.Sidebar .Tag-selected {
  background-color: grey;
}

.Sidebar .Cross {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
}

.Sidebar .Cross:hover {
  color: red;
}

.Sidebar .Number {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
  color: black;
}

.Sidebar .NewEdit {
  margin-top: 15px;
  display: inline-flex;
}

.Sidebar .Newtag, .Sidebar .Edittag {
  width: 40%;
}

.Sidebar .Newtag:hover, .Sidebar .Edittag:hover {
  font-weight: bold;
  color:steelblue;
}

.Sidebar .NewtagInput {
  height: 25px;
  width: 80%;
  font-size: 25px;
}

.Sidebar .UserProfile {
  cursor: pointer;
}

.Sidebar .UserProfile h2{
  margin-block: 0px;
  padding-block: 15px;
}

.Sidebar .UserProfile:hover {
  background-color: skyblue;
}

.Sidebar .UserProfile:active:hover {
  background-color: steelblue;
}

.Tasks {
  padding-left: 0px;
  margin-bottom: 25px;
}

.Tasks .ShowDoneButton {
  margin-block: 15px;
}

.Tasks h2 {
  font-size: 33px;
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
}

.Task {
  margin: 7px 7px 7px 7px;
  padding: 10px 10px 10px 10px;
  border: 3px solid black;
  border-radius: 5px;
}

.Task-flagged {
  border: 3px solid red;
}

.Task-flagged .Title{
  color: crimson;
}

.Task-done {
  border: 3px solid green;
}

.Task-done .Title {
  text-decoration: line-through;
  color: gray;
}

.Task .Header {
  display: flex;
}

.Task .TagName {
  margin-inline: 3px ;
  color: lightslategrey;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 17px;
  padding-right: 18px;
  height: fit-content;
  font-weight: 500;
}

.Task .TagsBar {
  display: inline-flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.Task .TagName:hover {
  cursor: pointer;
  color: lightcoral;
  padding-inline: 4px;
}

.Task .AddTagToTask {
  margin-left: 10px;
  color: grey;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  width: 25px;
  padding-inline: 5px;
  height: fit-content;
}

.Task .AddTagToTask:hover {
  margin-left: 10px;
  background-color: skyblue;
}

.Task .TaskTagList {
  margin-left: 15px;
  text-align: left;
}

.Task .TaskTagList h3 {
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  margin-block: 5px;
  padding-inline: 5px;
  text-align: center;
}

.Task .TaskTagList h3:hover {
  color:steelblue;
  font-weight: bolder;
}

.Task .Title {
  text-align: left;
  margin-right: 5px;
  max-width: 35%;
}

.Task h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

.Task h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: left;
  color: gray;
}

.Task p {
  text-align: left;
  font-size: 20px;
}

.Task .Buttons {
  text-align: right;
}

.Task button {
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.Task button:hover {
  background-color: skyblue;
}

.NewTask, .EditTask {
  margin-top: 20px;
  width: 60%;
  margin-inline: auto;
  border: 3px solid black;
  border-radius: 5px;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 17px;
  background-color: lightgoldenrodyellow;
}

.NewTask input, .EditTask input, 
.NewTask textarea, .EditTask textarea {
  background-color: lightyellow;
  border-radius: 5px;
}

.NewTask .Submit, .EditTask .Submit {
  margin-top: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.NewTask h3, .EditTask h3 {
  font-size: 25px;
}

.NewTask *, .EditTask * {
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
}

.NewTask .Description, .EditTask .Description{
  height: 100px;
}

.Users {
  position: fixed;
  left: 25%;
  top: 20%;
  width: 50%;
  height: 60%;
  border: 3px solid black;
  border-radius: 5px;
  z-index: 2;
  background: var(--color4);
}

.Users .UserList {
  max-height: 65%;
  overflow-y: scroll;
}

.Users h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}

.Users li {
  list-style: none;
  font-size: 25px;
  cursor: pointer;
  width: fit-content;
  margin-inline: auto;
}

.Users li:hover {
  color: var(--color2);
  font-weight: bold;
}

.Users .NewUserButton {
  margin-top: 10px;
  color: gray;
}

.Users .NewUserInput {
  height: 25px;
  width: 30ch;
  background-color: var(--color3);
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
}

.Users .NewUserInput:focus {
  outline: 1px solid grey;
}

.EditUser {
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  border: 3px solid black;
  border-radius: 5px;
  z-index: 2;
  background-color: lightgoldenrodyellow;
}

.EditUser h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}

.EditUser .EditUserInput {
  height: 25px;
  width: 45%;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  background-color: lightyellow;
}

.EditUser .EditUserInput:focus {
  outline: 1px solid grey;
}

.EditUser .SaveButton {
  font-size: 22px;
  margin-left: 15px;
  border-radius: 5px;
  vertical-align: bottom;
}

.EditUser .CloseButton {
  position: fixed;
  left: 72%;
  top: 27%;
  font-size: 25px;
  border-radius: 5px;
}

.EditUser button:hover {
  background-color: skyblue;
}

.EditUser div {
  padding-top: 25px;
}

.EditUser .DeleteButton {
  font-size: 22px;
  margin-left: 15px;
  border-radius: 5px;
}

.EditUser .SwitchButton {
  font-size: 22px;
  margin-left: 15px;
  border-radius: 5px;
}